.oojsplus-data-gridWidget-cell.action-cell > span {
	opacity: 0;
}

.enhanced-ui-filelist-panel .oojsplus-data-gridWidget-cell[ data-column='categories' ] span.oojsplus-ui-widget-linkwidget-label {
	padding: 3px 10px;
	border: 1px solid #747474;
	border-radius: 26px;
	margin: 5px 2px;
	background-color: #f8f9fa;
	color: #202122;
}

.oojsplus-data-gridWidget-row:hover .oojsplus-data-gridWidget-cell.action-cell > span,
.oojsplus-data-gridWidget-row .oojsplus-data-gridWidget-cell.action-cell > span:has( a:focus-visible ) {
	opacity: 1;
}

.enhancedUI-paginator .oo-ui-buttonSelectWidget {
	margin-right: -1px;
}

.enhanced-filelist-tools {
	justify-content: space-between;
}

.enhanced-filelist-search-field {
	max-width: 50em;
	width: 100%;
}

.enhanced-filelist-tools-btn-select .oo-ui-fieldLayout-header {
	display: none;
}

.fileinfo-dialog .wikitable {
	width: 100%;
}

.fileinfo-dialog .wikitable tr > td:first-child {
	width: 30%;
}

.metadata-langlist {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
