.oojsplus-data-gridWidget-cell.action-cell > span {
	opacity: 0;
}

.enhanced-ui-filelist-panel .oojsplus-data-gridWidget-cell[ data-column='categories' ] .oo-ui-fieldsetLayout-group > span {
	padding: 3px 10px;
	border: 1px solid #747474;
	border-radius: 26px;
	margin: 5px 2px;
	background-color: #f8f9fa;
	color: #202122;
}

.oojsplus-data-gridWidget-row:hover .oojsplus-data-gridWidget-cell.action-cell > span,
.oojsplus-data-gridWidget-row .oojsplus-data-gridWidget-cell.action-cell > span:has( a:focus-visible ) {
	opacity: 1;
}

/* stylelint-disable declaration-no-important */
#enhanced-ui-filelist-cnt .oojsplus-data-gridWidget-column-header[ data-field='upload' ],
#enhanced-ui-filelist-cnt .oojsplus-data-gridWidget-column-header[ data-field='info' ] {
	/* oojs style is added with important */
	border-right: 0 !important;
}
/* stylelint-enable declaration-no-important */

.enhancedUI-paginator .oo-ui-buttonSelectWidget {
	margin-right: -1px;
}
