<div class="oojs-skeleton oojs-skeleton--tree-cnt" style="display:none;">
	<div id="skeleton-namespaces" class="allpages-skeleton-namespace-widgets">
		<div class="oojs-skeleton--tree-line" style="width: 300px;"></div>
		<div class="oojs-skeleton--tree-line" style="width: 300px;"></div>
		<div class="oojs-skeleton--tree-line" style="width: 300px;"></div>
		<div class="oojs-skeleton--tree-line" style="width: 300px;"></div>
		<div class="oojs-skeleton--tree-line" style="width: 300px;"></div>
	</div>

	<div id="skeleton-tree" class="oojs-skeleton--tree allpages-skeleton--tree">
		<div class="oojs-skeleton--tree-item">
			<div class="oojs-skeleton--tree-line" style="width: 120px;"></div>
			<div class="oojs-skeleton--tree">
				<div class="oojs-skeleton--tree-item">
					<div class="oojs-skeleton--tree-line" style="width: 100px;"></div>
					<div class="oojs-skeleton--tree">
						<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
							<div class="oojs-skeleton--tree-line" style="width: 80px;"></div>
						</div>
						<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
							<div class="oojs-skeleton--tree-line" style="width: 90px;"></div>
						</div>
					</div>
				</div>
				<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
					<div class="oojs-skeleton--tree-line" style="width: 110px;"></div>
				</div>
			</div>
		</div>

		<div class="oojs-skeleton--tree-item">
			<div class="oojs-skeleton--tree-line" style="width: 120px;"></div>
			<div class="oojs-skeleton--tree">
				<div class="oojs-skeleton--tree-item">
					<div class="oojs-skeleton--tree-line" style="width: 100px;"></div>
					<div class="oojs-skeleton--tree">
						<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
							<div class="oojs-skeleton--tree-line" style="width: 80px;"></div>
						</div>
						<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
							<div class="oojs-skeleton--tree-line" style="width: 90px;"></div>
						</div>
					</div>
				</div>
				<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
					<div class="oojs-skeleton--tree-line" style="width: 110px;"></div>
				</div>
			</div>
		</div>

		<div class="oojs-skeleton--tree-item">
			<div class="oojs-skeleton--tree-line" style="width: 120px;"></div>
			<div class="oojs-skeleton--tree">
				<div class="oojs-skeleton--tree-item">
					<div class="oojs-skeleton--tree-line" style="width: 100px;"></div>
					<div class="oojs-skeleton--tree">
						<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
							<div class="oojs-skeleton--tree-line" style="width: 80px;"></div>
						</div>
						<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
							<div class="oojs-skeleton--tree-line" style="width: 90px;"></div>
						</div>
					</div>
				</div>
				<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
					<div class="oojs-skeleton--tree-line" style="width: 110px;"></div>
				</div>
			</div>
		</div>

		<div class="oojs-skeleton--tree-item">
			<div class="oojs-skeleton--tree-line" style="width: 120px;"></div>
			<div class="oojs-skeleton--tree">
				<div class="oojs-skeleton--tree-item">
					<div class="oojs-skeleton--tree-line" style="width: 100px;"></div>
					<div class="oojs-skeleton--tree">
						<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
							<div class="oojs-skeleton--tree-line" style="width: 80px;"></div>
						</div>
						<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
							<div class="oojs-skeleton--tree-line" style="width: 90px;"></div>
						</div>
					</div>
				</div>
				<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
					<div class="oojs-skeleton--tree-line" style="width: 110px;"></div>
				</div>
			</div>
		</div>

		<div class="oojs-skeleton--tree-item">
			<div class="oojs-skeleton--tree-line" style="width: 120px;"></div>
			<div class="oojs-skeleton--tree">
				<div class="oojs-skeleton--tree-item">
					<div class="oojs-skeleton--tree-line" style="width: 100px;"></div>
					<div class="oojs-skeleton--tree">
						<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
							<div class="oojs-skeleton--tree-line" style="width: 80px;"></div>
						</div>
						<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
							<div class="oojs-skeleton--tree-line" style="width: 90px;"></div>
						</div>
					</div>
				</div>
				<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
					<div class="oojs-skeleton--tree-line" style="width: 110px;"></div>
				</div>
			</div>
		</div>

		<div class="oojs-skeleton--tree-item">
			<div class="oojs-skeleton--tree-line" style="width: 120px;"></div>
			<div class="oojs-skeleton--tree">
				<div class="oojs-skeleton--tree-item">
					<div class="oojs-skeleton--tree-line" style="width: 100px;"></div>
					<div class="oojs-skeleton--tree">
						<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
							<div class="oojs-skeleton--tree-line" style="width: 80px;"></div>
						</div>
						<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
							<div class="oojs-skeleton--tree-line" style="width: 90px;"></div>
						</div>
					</div>
				</div>
				<div class="oojs-skeleton--tree-item oojs-skeleton--tree-item-last">
					<div class="oojs-skeleton--tree-line" style="width: 110px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>
